<li [ngClass]="{
        'list-group-item': true,
        'list-group-item-success': retStatutEtu() == 'present',
        'list-group-item-danger': retStatutEtu() == 'absent'
    }"
>
    <div>
        <h4>{{ retNomEtu() }} {{ retPrenomEtu() }}</h4>
        <p><strong>Dernière modification:</strong> {{ retDerniereDateModif() }}</p>
        <p *ngIf="commentaire != ''"><strong>Commentaire:</strong> {{ retCommentaire() }}</p>
    </div>

    <div>
        <button class="btn btn-danger" [disabled]="isAbsent()" (click)="setAbsent()">Absent</button>
        <button class="btn btn-success" [disabled]="!isAbsent()" (click)="setPresent()">Présent</button>
    </div>
</li>